<launch>
   <arg name="do_visualization" value="true"/>

   <param name="lidar_topic_name" type="string" value="/velodyne_points2"/>
   <param name="ndt_result_visualization" type="bool" value="$(arg do_visualization)" />
   <param name="lidar_height_to_gps" type="double" value="0.14"/>
   <param name="ndt_downsample_size" type="double" value="0.7"/>
   <param name="map_path" type="string" value="/home/gi/Downloads/GAAS_contrib_resources/map/airsim_msbuilding/output.pcd"/>
   <!--ndt params-->

   <param name="ndt_transformation_epsilon" type="double" value="0.1"/>
   <!-- param name="ndt_step_size" type="double" value="2.0" -->
   <!-- param name="ndt_resolution" type="double" value="10.0" -->

   <param name="ndt_step_size" type="double" value="2.0"/>
   <param name="ndt_resolution" type="double" value="8.0"/>

   <node name="ndt_matching_node" pkg="lidar_localization" type="ndt_matching_node" output="screen"/>
   <node name="map_publiser_node" pkg="lidar_localization" type="map_publisher" output="screen"/>
   <group if="$(arg do_visualization)">
       <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_localization)/launch/ndt_localization.rviz" required="false"/>
   </group>
</launch>
