*/build/
*/*/build/
*/*/*/build/
*/*/*/*/build/
*/build/*
.idea
*/.idea/*
*/.kdev4
*/.kdev4/*
.vscode/
*.so
*.png
*.jpg
*.log
*.bag
*.kdev*
bin
software/SLAM/ygz_slam_ros/bin/*
software/SLAM/ygz_slam_ros/build/*
*.pyc
*.cfgc
