<launch>
  <arg name="play_bag" default="false" />
  <arg name="bag_file" default="/path/to/data.bag"/>
  <arg name="voxel_size" default="0.05"/>

   <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr" clear_params="true">
    <remap from="pointcloud" to="/gi/rgb/depth/points"/>

    <remap from="voxblox_node/esdf_map_out" to="esdf_map" />
    <param name="publish_esdf_map" value="true" />
    <param name="publish_pointclouds" value="true" />
    <param name="clear_sphere_for_planning" value="true" />
    <param name="world_frame" value="$(arg world_frame)" />
    <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
    <param name="tsdf_voxels_per_side" value="16" />
    <param name="voxel_carving_enabled" value="true" />
    <param name="color_mode" value="color" />
    <param name="use_tf_transforms" value="false" />
    <param name="update_mesh_every_n_sec" value="1.0" />
    <param name="min_time_between_msgs_sec" value="0.0" />
    <param name="method" value="fast" />
    <param name="use_const_weight" value="false" />
    <param name="allow_clear" value="true" />
    <param name="verbose" value="true" />
    <remap from="transform" to="/gi/local_position/pose" />
    <rosparam file="$(find voxblox_ros)/cfg/gi_depth.yaml"/>
    <!-- <param name="mesh_filename" value="$(find voxblox_ros)/mesh_results/$(anon cow).ply" /> -->
  </node>

</launch>
