*/build/
*/build/*
*/.idea/
*/.idea/*
*/.kdev4
*/.kdev4/*
*.so
*.jpg
*.log
*.bag
*/*/build/*
*.kdev*
./image
./image2
.idea
image
image2
cmake-build-debug
./loopclosure_result2/*
./loopclosure_result2/*
test.log
./cmake-build-debug
log_controller_*
