<launch>
    <param name="map_path" type="string" value="/home/gi/Documents/LeGO_LOAM_ENV/obstacle_avoidance_rover_legoloam_map_pcd/pcd/map_global_registered.pcd"/>
    <node name="target_position_visual_marker" pkg="target_position_visual_marker" type="target_position_visual_marker" output="screen"/>
</launch>
