<launch>
    <arg name="gui" default="true"/>

    <!--px4 sitl-->
    <include file="$(find px4)/launch/posix_sitl.launch">
    </include>
    
    <!--mavros-->
    <include file="$(find mavros)/launch/px4.launch">
        <!-- GCS link is provided by SITL -->
        <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
    </include>

    <!-- OctoMap Server -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <!--param name="resolution" value="0.2" /-->
        <param name="resolution" value="0.2" />

        <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
        <param name="frame_id" type="string" value="map" />
        <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="100.0" />
        <param name="sensor_model/min" value="0.12" />
        <param name="sensor_model/max" value="0.99" />
        <param name="sensor_model/hit" value="0.95" />
        <param name="sensor_model/miss" value="0.49" />
        <param name="color/r" value="0.8" />
        <param name="color/g" value="0.1" />
        <param name="color/b" value="0.1" />
        <param name="color/a" value="0.7" />
        <!-- Filter out obstacles which are lower than 1 meter -->
        <param name="occupancy_min_z" value="1.0" />
        <param name="height_map" value="false" />
        <param name="publish_free_space" value="false" />
        <!-- data source to integrate (PointCloud2) -->
        <!--remap from="cloud_in" to="/camera/depth/points" respawn="true" /-->
    </node>

    <!-- RViz -->
    <node pkg="rviz" type="rviz" output="screen" name="rviz" respawn="true" />
</launch>
